.container-div {
    height: 80%;
    width: 80%;
    box-shadow: 0 0 1em rgb(119, 113, 113);
    border-radius: 10px;
}

h3 {
    color: rgb(75, 71, 71)
}

span {
    margin-bottom: 1rem;
}

input {
    margin: 0 1rem 0 1rem;
}

    input[type=date] {
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

form > .col-md-12 {
    height: 4rem;
}

button {
    width: 8rem;
}

#pesquisar {
    height: 2rem;
    border: 1px solid #acadaf;
    border-radius: 10px;
}

#filtro {
    height: 2rem;
    padding: 0.2rem;
}