@model IEnumerable<CovidViewModel>;

@{
    ViewData["Title"] = "Covid home page";
}
<link rel="stylesheet" href="~/css/covidPage.css" />

<div class="container-fluid d-flex align-content-center justify-content-center">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Covid Relatos</h4>
            <div class="form-outline">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>País</th>
                                <th>Média de casos</th>
                                <th>de</th>
                                <th>até</th>
                            </tr>
                        </thead>
                        <tbody id="tabela">
                            @foreach(var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.Pais
                                </td>
                                <td>
                                    @item.MediaMovel
                                </td>
                                <td>
                                    @item.covidBrasilModels.OrderBy(p => p.Date).Select(p => p.Date).First()
                                </td>
                                <td>
                                    @item.covidBrasilModels.OrderByDescending(p => p.Date).Select(p => p.Date).First()
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/covid.js"></script>