@model IEnumerable<CovidViewModel>;

@{
    ViewData["Title"] = "Covid home page";
}
@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
}

<div class="col-md-12">
    <table id="covid-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>País</th>
                <th>Média de casos</th>
                <th>de</th>
                <th>até</th>
            </tr>
        </thead>
        <tfoot>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Pais</th>
                    <th>@item.MediaMovel</th>
                    <th>@item.covidBrasilModels.OrderBy(p => p.Date).Select(p => p.Date).First()</th>
                    <th>@item.covidBrasilModels.OrderByDescending(p => p.Date).Select(p => p.Date).First()</th>
                </tr>
            }
        </tfoot>
    </table>
</div>


<script src="~/js/covid.js"></script>